@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #994d4d;
}

#name {
    height: 60vh;
    width: 80vw;
    background-color: #cfc28b;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid hotpink;
    border-radius: 20px;
    color: black;
    box-shadow: 20px 20px 10px #681e09;
    text-shadow: 5px 5px 10px red;
    font-family: 'Ubuntu', sans-serif;
}

button {
    padding: 20px;
    margin-top: 20px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: royalblue;
    cursor: pointer;
}